<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit User</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand">Test App</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">Dashboard</a>                        
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/edit">Profile</a>
                    </li>
                </ul>
                <a href="/logoff" class="nav-item active nav-link my-2 my-lg-0">Log off</a>
            </nav>
            <h1 style="display: inline-block">Edit User #{{user.id}}</h1>
            <a href="/dashboard" style="float: right; margin-top: 10px;" class="btn btn-outline-primary">Return to Dashboard</a>
            {% if messages%}
            {% for message in messages%}
            {% if message.tags == "success" %}
            <p style="color: green">{{ message}}</p>
            {% else %}
            <p style="color: red">{{ message }}</p>
            {% endif %}
            {% endfor %}
            {% endif %}
            <form style="border: 2px solid green; border-radius: 5px; padding: 10px;" action="/users/{{user.id}}/admin_edit_info" method="post">
                {% csrf_token %}
                <h2>Edit Information</h2>
                <p>
                Email Address:
                <input class="form-control" type="text" name="email" placeholder="{{user.email}}">
                </p>
                <p>
                First Name:
                <input class="form-control" type="text" name="first_name" placeholder="{{user.first_name}}">
                </p>
                <p>
                Last Name:
                <input class="form-control" type="text" name="last_name" placeholder="{{user.last_name}}">
                </p>
                <select name="user_level" class="form-control">
                    {% if user.user_level == 9%}
                    <option value="9" selected="selected">Admin</option>
                    <option value="0">Normal User</option>
                    {% else %}
                    <option value="0" selected="selected">Normal User</option>
                    <option value="9">Admin</option>
                    {% endif %}
                </select>
                <button style="margin-top: 10px;" class="btn btn-outline-success">Save</button>
            </form>
            <form style="border: 2px solid green; border-radius: 5px; padding: 10px; margin-top: 10px;" action="/users/{{user.id}}/admin_edit_password" method="post">
                {% csrf_token %}
                <h2>Change Password</h2>
                <input type="password" name="password" placeholder="********">
                <input type="password" name="confirm_password" placeholder="********">
                <button class="btn btn-outline-success">Update Password</button>
            </form>
        </div>
    </body>
</html>