<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2/dist/bootstrap-confirmation.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            $(document).ready(function(){
                $('[data-toggle=confirmation]').confirmation({rootSelector: '[data-toggle=confirmation]',
                // other options
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand">Test App</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a style="font-weight: bold;" class="nav-link" href="/dashboard">Dashboard</a>   
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/edit">Profile</a>
                    </li>
                </ul>
                <a href="/logoff" class="nav-item active nav-link my-2 my-lg-0">Log off</a>
            </nav>
            <div>
                <h1 style="display: inline-block;">Manage Users</h1>
                {% if my_user.user_level == 9 %}
                <a class="btn btn-outline-primary" style="float: right; margin-top: 10px;" href="/users/new">Add New</a>
                {% endif %}
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Created</th>
                        <th>User Level</th>
                    {% if my_user.user_level == 9 %}
                        <th>Actions</th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td><a href="/users/show/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></td>
                        <td>{{user.email}}</td>
                        <td>{{user.created_at}}</td>
                        {% if user.user_level == 9 %}
                        <td>Admin</td>
                        {% else %}
                        <td>Normal User</td>
                        {% endif %}
                        {% if my_user.user_level == 9 %}
                        <td>
                            <a class="btn btn-outline-success" href="/users/edit/{{user.id}}">Edit</a>
                            {% if user.id != request.session.id %}
                            <a class="btn btn-outline-danger" data-toggle="confirmation" data-btn-ok-label="Continue" data-btn-ok-class="btn-outline-success" data-btn-cancel-label="Cancel" data-btn-cancel-class="btn-outline-danger" data-title="Are you sure?" data-content="Pressing 'Continue' will delete {{user.first_name}} from the database." href="/users/delete/{{user.id}}">Delete</button>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
